.comments {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}

.comments__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.comments__form {
  width: 100%;
  padding: 0.5rem 0;
}

.comments__textarea {
  width: 100%;
  border: 1px solid #ffffff;
  resize: none;
  border-radius: 5px;
}

.comments__textarea:focus {
  border-color: #007bff;
}