.comments__item-author {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #000;
}

.comments__item-text {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  width: 100%;
}